@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    padding-bottom: 20px;
}

.social {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.socialLinks {
    text-align: center;
}

.link {
    font-size: 30px;
}

.skillTitle {
    border-top: solid 5px white;
    padding-bottom: 2%;
}

.skills {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.name {
    color: white;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Raleway, sans-serif;
}

h3 {
    color: white;
    display: block;
    font-size: 1.17em;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.bioSpace {
    padding-top: 5%;
}

.FullStack {
    padding-bottom: 5%;
    font-style: italic;
    font-weight: 600;
}

.contact {
    display: inline;
    font-size: 16px;
    font-weight: 400;
}

.iconText {
    font-size: 13px;
    /* margin-top: 1px; */
}

.icon {
    font-size: 26px;
}

.socialText {
    margin-top: 1px;
}

.text {
    font-family: 'Nunito', sans-serif;
}

@media (max-width: 360px) {
    .switch {
      display: -webkit-box !important;
      display: -moz-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: flex !important;
      -webkit-box-orient: vertical !important;
      -moz-box-orient: vertical !important;
      -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important;
    }

    .switch .first_div {
        -webkit-box-ordinal-group: 2 !important;
        -moz-box-ordinal-group: 2 !important;
        -ms-flex-order: 2 !important;
        -webkit-order: 2 !important;
        order: 2 !important;
      }
    
      .switch .second_div {
        -webkit-box-ordinal-group: 1 !important;
        -moz-box-ordinal-group: 1 !important;
        -ms-flex-order: 1 !important;
        -webkit-order: 1 !important;
        order: 1 !important;
      }
}

/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X, Galaxy S5, Iphone 8) */
@media (min-width: 360px) { .profile  {width: 70%; height: 85%; margin-top: 10px;}}
@media (min-width: 360px) { .name  {font-size: 50px;}}
@media (min-width: 360px) { .name, .FullStack, .text, .contactBox  {text-align: center;}}
@media (min-width: 360px) { .contactBox  {margin-bottom: 10%;}}
@media (min-width: 360px) { .iconText  {font-size: 10px;}}
@media (min-width: 360px) { .iconSkill  {width: auto; height: 30%;}}
@media (min-width: 360px) { .bioText  { margin-top: 0px;}}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .profile  {width: 90%; height: 85%; margin-top: 50px;}}
@media (min-width: 576px) { .name  {font-size: 50px;}}
@media (min-width: 576px) { .name, .FullStack, .text, .contactBox  {text-align: left;}}
@media (min-width: 576px) { .contactBox  {margin-bottom: 0;}}
@media (min-width: 576px) { .iconText  {font-size: 13px;}}
@media (min-width: 576px) { .iconSkill  {width: auto; height: auto;}}
@media (min-width: 576px) { .bioText  { margin-top: -220px;}}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .profile  {width: 70%; height: 85%; margin-top: 50px;}}
@media (min-width: 768px) { .name  {font-size: 60px;}}
@media (min-width: 768px) { .name, .FullStack, .text, .contactBox  {text-align: left;}}
@media (min-width: 768px) { .contactBox  {margin-bottom: 0;}}
@media (min-width: 768px) { .iconText  {font-size: 13px;}}
@media (min-width: 768px) { .iconSkill  {width: auto; height: auto;}}
@media (min-width: 768px) { .bioText  { margin-top: -170px;}}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .profile  {width: 70%; height: 85%; margin-top: 50px;}}
@media (min-width: 992px) { .name  {font-size: 60px;}}
@media (min-width: 992px) { .name, .FullStack, .text, .contactBox  {text-align: left;}}
@media (min-width: 992px) { .contactBox  {margin-bottom: 0;}}
@media (min-width: 992px) { .iconText  {font-size: 13px;}}
@media (min-width: 992px) { .iconSkill  {width: auto; height: auto;}}
@media (min-width: 992px) { .bioText  { margin-top: -210px;}}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .profile  {width: 70%; height: 90%; margin-top: 20px;}}
@media (min-width: 1200px) { .name  {font-size: 60px;}}
@media (min-width: 1200px) { .name, .FullStack, .text, .contactBox  {text-align: left;}}
@media (min-width: 1200px) { .contactBox  {margin-bottom: 0;}}
@media (min-width: 1200px) { .iconText  {font-size: 13px;}}
@media (min-width: 1200px) { .iconSkill  {width: auto; height: auto;}}
@media (min-width: 1200px) { .bioText  { margin-top: -210px;}}


