.MuiPaper-root {
    /* background-color: #65bdcc !important; */
    background-color: #71afed !important;
}

.MuiTab-textColorPrimary {
    color: white !important;
}

.MuiTab-textColorPrimary.Mui-selected {

    /* color: #a0dbe6 !important; */
    color: #BADFFF !important;

}

.PrivateTabIndicator-colorPrimary-2 {
    background-color: #BADFFF !important;
}

.MuiTabs-flexContainer {
    padding-bottom: 20px !important;
}

.MuiTab-wrapper {
    padding-top: 20px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}