@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.swiper-wrapper {
    transition-delay: 0.5s;
}

.slide-img {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Header */
.slide-number {
    position: relative;
    overflow: hidden;
    z-index: 10;
    color: black;
}

/* Description */
.slide-detail {
    z-index: 10;
    overflow: hidden;
    font-size: 14px;
    margin-left: 10px;
}

/* Tech Title */
.slide-detail-tech {
    position: relative;
    z-index: 10;
    overflow: hidden;
    margin-left: 10px;
}


/* Tech Icons */
.slide-detail-facts {
    padding-top: 5%;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}

.bio {
    padding-bottom: 5%;
}

.sliderButtons {
    text-align: center;
    padding-top: 3%;
}

.divider{
    width:2%;
    height:auto;
    display:inline-block;
}

h1 {
    color: white;
}

.MuiButton-outlinedPrimary {
    color: white !important;
    border: 1px solid rgb(255 255 255 / 50%) !important;
}

:root {
    --swiper-theme-color: #fff !important;
}

.technologies {
    display: inline;
    font-size: 20px;
    font-weight: 600;
}

.techImg {
    margin-bottom: -1%;
    padding-right: 2px;
}

.descriptionText {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.container {
    border-radius: 25px;
    /* background-color: #65bdcc; */
    background-color: #71afed;
    border: solid 5px white;
    /* ORIGINAL e4fbff */
    /* 65bdcc */
}

/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media (min-width: 360px) { .slide-number, .slide-detail-tech, .slide-detail-facts, .descriptionText {text-align: center;}}
@media (min-width: 360px) { .slide-detail-tech {padding-bottom: 0%;}} 
@media (min-width: 360px) { .slide-detail {padding-top: 0%;}} 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .slide-number, .slide-detail-tech, .slide-detail-facts, .descriptionText {text-align: left;}}
@media (min-width: 576px) { .slide-detail-tech {padding-bottom: 0%;}} 
@media (min-width: 576px) { .slide-detail {padding-top: 0%;}} 

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .slide-number, .slide-detail-tech, .slide-detail-facts, .descriptionText {text-align: left;}}
@media (min-width: 768px) { .slide-detail-tech {padding-bottom: 0%;}} 
@media (min-width: 768px) { .slide-detail {padding-top: 0%;}} 

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .slide-number, .slide-detail-tech, .slide-detail-facts, .descriptionText {text-align: left;}}
@media (min-width: 992px) { .slide-detail-tech {padding-bottom: 0%;}} 
@media (min-width: 992px) { .slide-detail {padding-top: 25px;}} 

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .slide-number, .slide-detail-tech, .slide-detail-facts, .descriptionText {text-align: left;}} 
@media (min-width: 1200px) { .slide-detail-tech {padding-bottom: 3%;}} 
@media (min-width: 1200px) { .slide-detail {padding-top: 5%;}} 




