.bio {
    padding-bottom: 3%;
}

.links {
    text-align: center;
    padding-top: 3%;
}

.divider{
    width:2%;
    height:auto;
    display:inline-block;
}

/* .descriptionDiv {
    z-index: 10;
    overflow: hidden;
    font-size: 14px;
    margin-left: 10px;
} */

.descriptionText {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

/* .icons {
    padding-top: 5%;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    text-align: center;
    padding-bottom: 5%;
} */

.technologies {
    display: inline;
    font-size: 20px;
    font-weight: 600;
}

.techImg {
    margin-bottom: -1%;
    padding-right: 2px;
}

.MuiButton-outlinedPrimary {
    color: white !important;
    border: 1px solid rgb(255 255 255 / 50%) !important;
}

.projectImage {
    padding-top: 10px;
}

h4 {
	display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
}

.descriptionDiv {
    margin-top: 50px !important;
    padding-bottom: 40px;
}


/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media (min-width: 360px) { h4, .descriptionDiv, .icons {text-align: center;}}
@media (min-width: 360px) { .descriptionDiv {margin-top: 0px !important; padding-bottom: 0px;}}
@media (min-width: 360px) { h4 {margin-bottom: 0.3em;}}
@media (min-width: 360px) { .descriptionText {font-size: 16px;}}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .descriptionDiv {text-align: left;}}
@media (min-width: 576px) { .descriptionDiv {margin-top: 50px !important; padding-bottom: 40px;}}
@media (min-width: 576px) { h4 {margin-bottom: 0;}}
@media (min-width: 576px) { .descriptionText {font-size: 20px;}}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { h4, .descriptionDiv, .icons {text-align: left;}}
@media (min-width: 768px) { .descriptionDiv {margin-top: 50px !important; padding-bottom: 40px;}}
@media (min-width: 768px) { h4 {margin-bottom: 0;}}
@media (min-width: 768px) { .descriptionText {font-size: 20px;}}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { h4, .descriptionDiv, .icons {text-align: left;}}
@media (min-width: 992px) { .descriptionDiv {margin-top: 50px !important; padding-bottom: 40px;}}
@media (min-width: 992px) { h4 {margin-bottom: 0;}}
@media (min-width: 992px) { .descriptionText {font-size: 20px;}}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { h4, .descriptionDiv, .icons {text-align: left;}} 
@media (min-width: 1200px) { .descriptionDiv {margin-top: 50px !important; padding-bottom: 40px;}} 
@media (min-width: 1200px) { h4 {margin-bottom: 0;}} 
@media (min-width: 1200px) { .descriptionText {font-size: 20px;}} 
