@mixin styles {
    .MuiPaper-root {
        background-color: #71afed !important;
    }
    
    .MuiTab-textColorPrimary {
        color: white !important;
        box-shadow: 0 0 0 2px #ffff !important;
        border-radius: 4px !important;
        margin-right: 10px !important;
        border: none !important;
    }
    
    .MuiTab-textColorPrimary.Mui-selected {
        color: #71afed !important;
        background-color: white;
        box-shadow: 0 0 0 4px #badfff !important;
    }
    
    .PrivateTabIndicator-colorPrimary-2 {
        background-color: rgb(113, 175, 237) !important;
    }

    .jj2 {
        background-color: rgb(113, 175, 237) !important;
    }
    
    .MuiTab-wrapper {
        width: 100%;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 0 !important;
    }

    .MuiTab-root {
        font-weight: 600 !important;
        font-size: 1rem !important;
        margin-left: 4px !important;
    }
    
    /* MEDIA QUERIES */
    /* Extra small devices (Tested with Iphone X) */
    @media (min-width: 360px) { 
        .MuiTabs-flexContainer {
            padding-bottom: 0; padding-top: 6px;
        }
        .MuiTab-root {
            min-height: unset !important; 
            font-size: 0.875rem !important;
        }
        .MuiTab-wrapper {
            padding-top: 0;
        }
        // .navImage {
        //     width: 35px; 
        //     height: 35px; 
        //     position: absolute; 
        //     bottom: 6px; 
        //     left: 5px;
        // }
    }
    
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) { 
        .MuiTabs-flexContainer {
            padding-bottom: 20px !important; 
            padding-top: 20px;
        }
        // .navImage {
        //     width: 80px; 
        //     height: 80px; 
        //     position: absolute; 
        //     bottom: 1px; 
        //     left: 10px;
        // }
    }
    
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
        .MuiTabs-flexContainer {
            padding-bottom: 20px !important;
        }
        .MuiTab-root {
            min-height: 48px !important; 
            font-size: 0.875rem !important;
        }
        // .navImage {
        //     width: 80px; height: 80px; 
        //     position: absolute; 
        //     bottom: 1px; 
        //     left: 10px;
        // }
    }
    
    /* // Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
        .MuiTabs-flexContainer {
            padding-bottom: 20px !important;
        }
        .MuiTab-wrapper {
            padding-top: 20px;
        }
        // .navImage {
        //     width: 100px; 
        //     height: 100px; 
        //     position: absolute; 
        //     bottom: 1px; 
        //     left: 10px;
        // }
    }
    
    /* // Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) { 
        .MuiTabs-flexContainer {
            padding-bottom: 25px !important;
        }
        .MuiTab-wrapper {
            padding-top: 20px;
        }
        // .navImage {
        //     width: 100px; 
        //     height: 100px; 
        //     position: absolute; 
        //     bottom: 1px; 
        //     left: 10px;
        // }
    }           
}