@mixin styles {
    .bio {
        padding-bottom: 3%;
    }
    
    .links {
        text-align: center;
        padding-top: 3%;

        .MuiButton-outlinedPrimary {
            color: white !important;
            border: 1px solid rgba(255, 255, 255, 0.5) !important;
        }
    }
    
    .divider{
        width:2%;
        height:auto;
        display:inline-block;
    }
    
    .descriptionText {
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
    }
    
    .techImg {
        margin-bottom: -1%;
        padding-right: 2px;
    }
        
    .descriptionDiv {
        // margin-top: 50px !important;
        margin-top: 0px !important;
        // padding-bottom: 40px;
        padding-bottom: 0px;
    }    

    .image-container {
        position: relative;

        .ipad-image {
            padding-top: 10px;
            position: relative;
        }

        .project-image {
            width: 79%;
            position: absolute;
            height: auto;
            top: 25px;
            left: 38px;    
        }
    }
    
    /* MEDIA QUERIES */
    /* Extra small devices (Tested with Iphone X) */
    @media (min-width: 360px) { h4, .descriptionDiv, .icons {text-align: center;}}
    @media (min-width: 360px) { .descriptionDiv {margin-top: 0px !important; padding-bottom: 0px;}}
    @media (min-width: 360px) { h4 {margin-bottom: 0.3em;}}
    @media (min-width: 360px) { .descriptionText {font-size: 16px;}}
    
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) { .descriptionDiv {text-align: left;}}
    @media (min-width: 576px) { .descriptionDiv {margin-top: 50px !important; padding-bottom: 40px;}}
    @media (min-width: 576px) { h4 {margin-bottom: 0;}}
    @media (min-width: 576px) { .descriptionText {font-size: 20px;}}
    
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { h4, .descriptionDiv, .icons {text-align: left;}}
    @media (min-width: 768px) { .descriptionDiv {margin-top: 0px !important; padding-bottom: 0px;}}
    @media (min-width: 768px) { h4 {margin-bottom: 0;}}
    @media (min-width: 768px) { .descriptionText {font-size: 18px;}}
    
    /* // Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { h4, .descriptionDiv, .icons {text-align: left;}}
    @media (min-width: 992px) { .descriptionDiv {margin-top: 0px !important; padding-bottom: 0px;}}
    @media (min-width: 992px) { h4 {margin-bottom: 0;}}
    @media (min-width: 992px) { .descriptionText {font-size: 20px;}}
    
    /* // Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) { h4, .descriptionDiv, .icons {text-align: left;}} 
    @media (min-width: 1200px) { .descriptionDiv {margin-top: 0px !important; padding-bottom: 0px;}} 
    @media (min-width: 1200px) { h4 {margin-bottom: 0;}} 
    @media (min-width: 1200px) { .descriptionText {font-size: 20px;}} 
}