@use "homepage";
@use "projects";
@use "portfolio";
@use "navbar";
@use "contact";
@use "about";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='560' height='560' preserveAspectRatio='none' viewBox='0 0 560 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3crect width='560' height='560' x='0' y='0' fill='rgba(186%2c 223%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 291%2c-286.9621020655355 C 276.6%2c-249.56 171.4%2c-174.76 219%2c-99.96210206553548 C 266.6%2c-25.16 566.8%2c12.24 529%2c87.03789793446452 C 491.2%2c161.84 41.6%2c199.24 30%2c274.0378979344645 C 18.4%2c348.84 440.4%2c403.85 471%2c461.0378979344645 C 501.6%2c518.23 240.6%2c540.21 183%2c560' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M 177%2c-94.45832403619598 C 249.6%2c-57.06 552.8%2c17.74 540%2c92.54167596380402 C 527.2%2c167.34 110.8%2c204.74 113%2c279.54167596380404 C 115.2%2c354.34 569.6%2c391.74 551%2c466.54167596380404 C 532.4%2c541.34 37.8%2c634.85 20%2c653.541675963804 C 2.2%2c672.23 373.6%2c578.71 462%2c560' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M 80%2c-133.58664254353914 C 141.6%2c-96.19 392.8%2c-21.39 388%2c53.41335745646085 C 383.2%2c128.21 74.8%2c165.61 56%2c240.41335745646086 C 37.2%2c315.21 282%2c352.61 294%2c427.41335745646086 C 306%2c502.21 86.6%2c587.9 116%2c614.4133574564609 C 145.4%2c640.93 376%2c570.88 441%2c560' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='560' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  color: white;
}

h3 {
  color: white;
  display: block;
  font-size: 1.17em;
  margin-block-start: 0.5em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
}

p {
  color: white;
}

html {
  scroll-behavior: smooth;
}

@include homepage.styles;
@include projects.styles;
@include portfolio.styles;
@include navbar.styles;
@include contact.styles;
@include about.styles;